.inside-body {

    height: 300px;
    margin-top: 72px;
    background-color: #81b7f9;



}

.btn-group-vertical {
    width: 250px;
    padding-top: 30px;


}

.btn-group-vertical button {

    text-align: left;
    padding-left: 30px;
    background-color: #81b7f9;
    border: 0;
}

.btn-group-vertical button:hover {

    text-align: left;
    padding-left: 30px;
    background-color: #727a87;
    border: 0;
}


.sidebar {

    background-color: #81b7f9;
    height: 850px;
    border-bottom-right-radius: 300px;
    padding-top: 30px;

}

.sidebar input {

    width: 227px;

}


.btn-secondary {

    text-align: left;
    background-color: #81b7f9;
    padding-left: 35px;

}

.right-side {

    border-top-left-radius: 300px;
    /*    border: 1px solid black;*/
    background-color: white;
    height: 800px;
}

.navbar {
    background-color: #81b7f9;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    border-bottom-right-radius: 500px;
}
